@use "breakpoints" as bp;

:root {
    font-size: clamp(1rem, 3vw, 1.3rem);
}

.container {
    width: min(1200px, 90%);
    margin: 0 auto;
}

:is(h1, h2, h3, h4, h5, h6) {
    line-height: 1;
    font-weight: normal;
}

p {
    line-height: 1.5;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

label {
    font-weight: bold;
}

.even-columns {
    @media (min-width: bp.$medium) {
        display: flex;
        gap: 2em;

        & > * {
            flex-basis: 100%;
        }
    }
}
